[Unit]
Description=Hekad Stream Processor
After=network.target

[Service]
ExecStart={{ heka_install_dir }}/bin/hekad -config={{ heka_hekad_etc_dir }}
Restart=on-abort

[Install]
WantedBy=default.target
